<h1>Editing Faculty</h1>

<div class="btn-group">
  <%= link_to 'Back', faculties_path, class: 'btn btn-default' %>
  <%= link_to 'Show', @faculty, class: 'btn btn-success' %>
</div>

<%= render 'form' %>